{
  "root": true,
  "extends": "@react-native-community",
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "rules": {
    "prettier/prettier": "off",
    "react-native/no-inline-styles": "off",
    "radix": "off"
  }
}
